.left {
	text-align: left;
}

.spacing {
	margin-top: 8px;
}

.root {
	text-align: left;
	margin-left: auto;
	margin-right: auto;

	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
}

h2 {
	text-align: center;
}

.asSpan {
	display: block;
    overflow: hidden;
    padding-right:10px;
}

.asBtn {
	float: right;
}
.asDiv {
	width: 270px;
	display: inline-block;
}