.left {
	text-align: left;
}

.spacing {
	margin: 5px;
}

.root {
	text-align: left;
	margin-left: auto;
	margin-right: auto;

	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
}

h2 {
	text-align: center;
}